@import "../vars";
.products {
    margin: 50px 0;
    &__wrap {
        display: flex;
        min-height: 30vh;
        gap: 30px;
        @media (max-width: 100px) {
            gap: 10px;
        }
        
        @media (max-width: 1000px) {
            flex-direction: column;
        }

        
    }
    &__pages {
        margin: 0 auto;
    }


    &__filter {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: $main_font;
        @media (max-width: 1300px) {
            margin: 0 20px;
        }

        @media (max-width: 1300px) {
            width: 300px;
        }
        @media (max-width: 1100px) {
            width: 30vw;
        }
        @media (max-width: 1000px) {
            width: 90vw;
        }



        &-title {
            font-size: 30px;

        }
        &-input {
            padding: 20px 30px;
            border: 2px solid black;
            border-radius: 50px;
            display: flex;
            align-items: center;
            font-size: 18px;
            &::placeholder {
                font-size: 18px;
                color: black;
            }
        }
    }
    &__categories {
        margin-top: 15px;
        &-title {
            font-size: 25px;
            margin-bottom: 15px;
        }
        &-item {
            display: flex;
            gap: 15px;
            input {
                transform: scale(2);

            }
            label {
                font-size: 25px;
                @media (max-width: 1300px) {
                    font-size: 23px;;
                }
                @media (max-width: 1100px) {
                    font-size: 20px;
                    margin-bottom: 5px;
                }
            }
            
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__card {
        width: 400px;
        height: 500px;
        border-radius: 16px;
        position: relative;
        margin: 0 auto;

        @media (max-width: 1300px) {
            width: 350px;
        }

        @media (max-width: 1100px) {
            width: 30vw;
        }

        @media (max-width: 1000px) {
            width: 45vw;
            height: 500px;
        }
        @media (max-width: 1000px) {
            width: 90vw;
            height: 300px;
        }


        
        &_ms {
            background: url(../../img/places/cards/city.png) no-repeat center / cover;
        }

        &_rs {
            background: url(../../img/places/cards/red_square.png) no-repeat center / cover;
        }
        &_vb {
            background: url(../../img/main/places/church.png) no-repeat center / cover;
        }

        &_hyatt {
            background: url(../../img/places/cards/hyatt.png) no-repeat center / cover;
        }
        &_marriot {
            background: url(../../img/places/cards/marriot.png) no-repeat center / cover;
        }
        &_national {
            background: url(../../img/main/hotels/national.png) no-repeat center / cover;
        }
        &_seasons {
            background: url(../../img/main/hotels/seasons.png) no-repeat center / cover;
        }
        &_radison {
            background: url(../../img/main/hotels/radisson.png) no-repeat center / cover;
        }

        &-category {
            opacity: 0;
        }

        &-block {
            margin: 30px;
            position: absolute;
            bottom: 0;
            color: white;
            font-family: $main_font;
        }
        &-title {
            font-size: 30px;
            font-weight: 600;
            @media (max-width: 1000px) {
                font-size: 25px;
                width: 90%;
            }
        }
        &-text {
            font-size: 20px;
            font-weight: 200;

            @media (max-width: 900px) {
                width: 80%;
            }
        }
        &-address {
            margin-top: 25px;
            font-size: 20px;
            font-weight: 300;
        }
    }

}