@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}
.about {
  background-color: #0A1420;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__wrap {
  font-family: "Montserrat";
  color: white;
  padding: 50px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 768px) {
  .about__wrap {
    flex-direction: column;
  }
}
.about__image {
  opacity: 0;
  max-width: 50%;
}
.about__image.active {
  animation: jump_left 0.7s ease-in-out forwards;
}
@media (max-width: 1024px) {
  .about__image {
    max-width: 40%;
  }
}
@media (max-width: 768px) {
  .about__image {
    display: none;
  }
}
.about__block {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__block.active {
  animation: jump_right 0.7s ease-in-out forwards;
}
.about__title {
  font-weight: 600;
  font-size: 30px;
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 2.5vw;
  }
}
@media (max-width: 600px) {
  .about__title {
    font-size: 25px;
  }
}
.about__text {
  font-weight: 300;
  font-size: 30px;
}
@media (max-width: 1024px) {
  .about__text {
    font-size: 2.5vw;
  }
}
@media (max-width: 600px) {
  .about__text {
    font-size: 25px;
  }
}