@import "../vars";


.banner {
    height: 100vh;
    

    &__wrap {
        background: url("../../img/main/bg/banner.png") bottom center / cover;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        align-self: center;
    }

    &__block {
        margin: auto;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        font-family: $main_font;
    }
    &__title {
        &.active {
            animation: jump_down 0.7s ease-in-out forwards;
        }
        transform: translateY(-100px);
        opacity: 0;
        font-size: 150px;

        @media (max-width: 1024px) {
            font-size: 100px;
        }

        @media (max-width:600px) {
            font-size: 15vw;
        }


    }
    &__text {
        &.active {
            animation: jump_up 0.7s ease-in-out forwards;
        }
        transform: translateY(100px);
        opacity: 0;
        font-size: 50px;
        font-weight: 200;
        @media (max-width:600px) {
            font-size: 10vw;
        }
    }
}
