@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}
.banner {
  height: 100vh;
}
.banner__wrap {
  background: url("../../img/main/bg/banner.png") bottom center/cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  align-self: center;
}
.banner__block {
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-family: "Montserrat";
}
.banner__title {
  transform: translateY(-100px);
  opacity: 0;
  font-size: 150px;
}
.banner__title.active {
  animation: jump_down 0.7s ease-in-out forwards;
}
@media (max-width: 1024px) {
  .banner__title {
    font-size: 100px;
  }
}
@media (max-width: 600px) {
  .banner__title {
    font-size: 15vw;
  }
}
.banner__text {
  transform: translateY(100px);
  opacity: 0;
  font-size: 50px;
  font-weight: 200;
}
.banner__text.active {
  animation: jump_up 0.7s ease-in-out forwards;
}
@media (max-width: 600px) {
  .banner__text {
    font-size: 10vw;
  }
}