@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}
.footer {
  font-family: "Montserrat";
  background-color: #0A1420;
}
.footer__logo {
  font-size: 70px;
  font-weight: 600;
  color: white;
}
@media (max-width: 500px) {
  .footer__logo {
    font-size: 50px;
  }
}
.footer__wrap {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1220px) {
  .footer__wrap {
    padding: 40px 25px;
  }
}
@media (max-width: 768px) {
  .footer__wrap {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
.footer__buttons {
  display: flex;
  gap: 25px;
}
@media (max-width: 500px) {
  .footer__buttons {
    gap: 15px;
  }
}
.footer__button {
  font-size: 28px;
  font-weight: 200;
}
.footer__button a {
  color: white;
}
@media (max-width: 500px) {
  .footer__button {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .footer__button {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .footer__button {
    font-size: 17px;
  }
}
.footer__rights {
  color: white;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .footer__rights {
    margin: 0 10px;
  }
}