@import "vars";

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.35);
    &.hidden {
        display: none;
    }
    &.inactive {
        animation: jump_out 0.7s ease-in-out forwards;
    }
    &.active {
        animation: jump_in 0.7s ease-in-out forwards;
    }

    &_fixed {
        z-index: 2;
        position: fixed;
        background-color: white;
        box-shadow: 0px 3px 5px 1px rgba(34, 60, 80, 0.2);
    }

    &__wrap {
        display: flex;
        font-family: $main_font;
        align-items: center;
        
        padding: 15px 20px;
        justify-content: space-between;
    }

    &__buttons {
        @media (max-width: 768px) {
            display: none;
        }
        font-weight: 200;
        font-size: 24px;
        display: flex;
        gap: 20px;
    }

    &__button {

        a {
            color: white;
        }
    }

    &__button_fixed {
        font-weight: 300;
        a {
            color: black;
        }
    }

    &__logo {
        a {
            font-weight: 700;
            font-size: 35px;
            color: white;
        }
    }
    &__logo_fixed {
        a {
            font-weight: 700;
            font-size: 35px;
            color: black;
        }
    }

    &__burger {
        width: 40px;
        height: 40px;
        display: none;
        &-button {
            display: none;
            background: 0;
            border: 0;
            @media (max-width: 768px) {
                display: block;
            }
        }


        @media (max-width: 768px) {
            display: block;
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    font-family: $main_font;
    position: fixed;
    z-index: 4;
    background-color: white;
    width: 100%;
    &.hidden {
        display: none;
    }
    &.inactive {
        animation: jump_out 0.7s ease-in-out forwards;
    }
    &.active {
        animation: jump_in 0.7s ease-in-out forwards;
    }

    &__button {
        font-size: 25px;
        color: black;
        
    }
    &__list {
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__close-button {
        height: 10%;
        background: 0;
        border: 0;
        padding: 15px 20px;
        img {
            height: 40px;
            width: 40px;
        }
    }
}
