@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}
.header {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
}
.header.hidden {
  display: none;
}
.header.inactive {
  animation: jump_out 0.7s ease-in-out forwards;
}
.header.active {
  animation: jump_in 0.7s ease-in-out forwards;
}
.header_fixed {
  z-index: 2;
  position: fixed;
  background-color: white;
  box-shadow: 0px 3px 5px 1px rgba(34, 60, 80, 0.2);
}
.header__wrap {
  display: flex;
  font-family: "Montserrat";
  align-items: center;
  padding: 15px 20px;
  justify-content: space-between;
}
.header__buttons {
  font-weight: 200;
  font-size: 24px;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .header__buttons {
    display: none;
  }
}
.header__button a {
  color: white;
}
.header__button_fixed {
  font-weight: 300;
}
.header__button_fixed a {
  color: black;
}
.header__logo a {
  font-weight: 700;
  font-size: 35px;
  color: white;
}
.header__logo_fixed a {
  font-weight: 700;
  font-size: 35px;
  color: black;
}
.header__burger {
  width: 40px;
  height: 40px;
  display: none;
}
.header__burger-button {
  display: none;
  background: 0;
  border: 0;
}
@media (max-width: 768px) {
  .header__burger-button {
    display: block;
  }
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  position: fixed;
  z-index: 4;
  background-color: white;
  width: 100%;
}
.menu.hidden {
  display: none;
}
.menu.inactive {
  animation: jump_out 0.7s ease-in-out forwards;
}
.menu.active {
  animation: jump_in 0.7s ease-in-out forwards;
}
.menu__button {
  font-size: 25px;
  color: black;
}
.menu__list {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__close-button {
  height: 10%;
  background: 0;
  border: 0;
  padding: 15px 20px;
}
.menu__close-button img {
  height: 40px;
  width: 40px;
}