@import "vars";
.modal {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    &.hidden {
        display: none;
    }
    &.inactive {
        animation: jump_out 0.7s ease-in-out forwards;
    }
    &.active {
        animation: jump_down 0.7s ease-in-out forwards;
    }
    transform: translateY(-100px);
    opacity: 0;
    font-size: 150px;


    &__wrap {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__form {
        background-color: $main_color;
        width: 900px;
        display: flex;
        padding: 30px;
        flex-direction: column;
        color: white;
        font-family: $main_font;
        border-radius: 50px;
    }
    &__input {
        padding: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-size: 20px;
        &::placeholder {
            font-size: 20px;
        }
        border-radius: 25px;
        border: 0;
    }
    &__label {
        font-size: 25px;
        margin-bottom: 15px;
    }
    &__button {
        align-self: center;
        padding: 30px 50px;
        font-size: 20px;
        border: 0;
        border-radius: 30px;
    }
    &__title {
        align-self: center;
        font-weight: 600;
        font-size: 35px;
        margin-bottom: 30px;
    }
}