@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}
.modal {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(-100px);
  opacity: 0;
  font-size: 150px;
}
.modal.hidden {
  display: none;
}
.modal.inactive {
  animation: jump_out 0.7s ease-in-out forwards;
}
.modal.active {
  animation: jump_down 0.7s ease-in-out forwards;
}
.modal__wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__form {
  background-color: #0A1420;
  width: 900px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  color: white;
  font-family: "Montserrat";
  border-radius: 50px;
}
.modal__input {
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 25px;
  border: 0;
}
.modal__input::-moz-placeholder {
  font-size: 20px;
}
.modal__input::placeholder {
  font-size: 20px;
}
.modal__label {
  font-size: 25px;
  margin-bottom: 15px;
}
.modal__button {
  align-self: center;
  padding: 30px 50px;
  font-size: 20px;
  border: 0;
  border-radius: 30px;
}
.modal__title {
  align-self: center;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 30px;
}