@import "../vars";
.contacts {
    font-family: $main_font;
    flex-direction: column;
    gap: 20px;;
    margin: 50px 25px;
    &__title {
        margin-bottom: 20px;
        font-size: 40px;
    }
    &__contact {
        font-size: 25px;
        margin-bottom: 10px;
        a {
            color: black;
        }
    }
    &__button {
        padding: 20px 50px;
        font-size: 20px;
        margin-top: 20px;
        border: 0;
        border-radius: 30px;
        color: white;
        background-color: $main_color;
        &:hover {
            cursor: pointer;
        }
    }
}