@import "routes.css";
@import "possibilities.css";
* {
    margin: 0;
    padding: 0;
}


.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    background: url(../images/background.png) no-repeat center center / cover;
    font-family: "Montserrat", sans-serif;
    height: 90vh;
}


.logo-container {
    gap: 10px;
    font-size: 2.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: normal;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dream-city {
    font-size: 2vh;
    font-weight: 800;
    text-transform: uppercase;
    background: white;
    margin-top: 20vh;
    border-radius: 10vh;
    padding: 1vh 5vh;
}

.your-guide {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 9vh;
    margin-top: 3vh;
    letter-spacing: 10px;
    font-weight: 800;
}

.choose {
    color: white;
    margin-top: 3vh;
    font-weight: 400;
    font-size: 3vh;
}

.more-button {
    color: white;
    text-decoration: none;
    background-color: #FF7E36;
    margin-top: 5vh;
    padding: 3vh 8vh;
    border-radius: 10vh;
    font-weight: 700;
    font-size: 2vh;
}

.arrow-down {
    width: 25px;
    margin-bottom: 5%;
    position: absolute;
    bottom: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 20vh;
}

.footer p {
    font-size: 2vh;
    margin-left: 5vw;
}